.footer-main{
    background-color: white;
    height: 450px;
    margin-top: 80px;
}
.footer-container{
    width: 80%;
    margin: auto;
    padding-top: 80px;
}
.footer-content{
    display: flex;
    justify-content: flex-start;
}
.footer-right{
    margin-left: 80px;
    flex: 1;
}
.footer-left{
    flex: 1;
}
.footer-divider{
    margin-top: 120px;
}
.footer-footer{
    display: flex !important;
    justify-content: space-between !important;
}
.footer-right-content{
    display: flex;
    justify-content: space-evenly;
}
.footer-first{
    flex: 1;
}
.footer-second{
    flex: 1;
}
.footer-third{
    flex: 1;
}
.footer-heading{
    font-weight: 600 !important;
    font-size: 14px;
    margin-bottom: 14px;
    font-family: sans-serif;
}
.footer-option{
    font-size: 14px !important;
    margin-bottom: 14px !important;
    font-family: sans-serif !important;
    color: grey;
}