.search-main{
    background-color: white;
    height: 400px;
}

.search-container{
    width: 85%;
    margin: auto;
    padding-top: 25px;
}
.search-search{
    display: flex;
    justify-content: space-between;
}
.search-first{
    width: 80%;
}
.search-input{
    border: none;
}
.search-button{
    border: none;
    background: none;
}